@CHARSET "ISO-8859-1";
@import "normalize.css";

/*Fixed code*/
.pushmenu { position: fixed; left: 255px; }
.navbar .ml-auto li{ margin: 0 6px;}

.layout-fixed .main-sidebar { position: fixed; float: none; top: unset; bottom: unset; left: 0; }

.border { border: 1px dashed #000 !important; border-radius: 10px; padding: 5px; margin: 5px; }
hr { border-top: 1px dashed #fff; margin: 10px;}
  
/* admin page */
.profile .img-thumbnail{ 
   width: 155px; 
   height: 155px;
   padding: .05rem;
   border-radius: 100%;
   border: 1px dashed #000;
   /*max-width: auto !important;*/
}

.firstView section a, .sum section a {
   text-transform: capitalize; 
   text-align: center; 
   background-color: cyan;
   display: block; 
   padding: 10px; 
   /*font-size: 1.32vw;;*/
   margin: 5px; 
   opacity: .86;
}
.even_firstView section a{ border-radius: 0 20px; }
.odd_firstView section a{ border-radius: 20px 0; }
.sum section a{ border-radius: 10px; }
.firstView section a:hover, .sum section a:hover { border: 1px dashed cyan; color: #FFFFFF; background-color: purple !important; }

fieldset {
   border: 1px dashed skyblue !important;
   border-radius: 0.50rem;
   padding: 0 1em 1em 1em !important;
   margin: 0 0 1.5em 0 !important;
   -webkit-box-shadow:  0px 0px 0px 0px #000;
   box-shadow:  0px 0px 2px 0px #000;
}

fieldset {
   border: 1px dashed #000 !important;
   border-radius: 0.50rem;
   padding: 0.5em !important;
   margin: 0 0 1em 0 !important;
   -webkit-box-shadow:  0px 0px 0px 0px #000;
    /*box-shadow:  0px 0px 2px 0px #000;*/
}

legend { 
   width:inherit;
   font-size: 1em !important;
   font-weight: bold !important;
   text-align: center;
   border: 1px solid pink; 
   background-color: whitesmoke;
   border-radius: 12px;   
   padding: 0px 10px; 
   margin-bottom:10px;
}


/*Datatable*/
table.dataTable tbody tr { background-color: transparent; }

.dataTables_wrapper .dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
   background-color: cyan; border-radius: 2px;
}
.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_paginate{ float: none; }

/*Top*/
.dataTables_wrapper .dataTables_length label, .dataTables_wrapper .dataTables_filter label{ padding: 0.175rem 0.5rem; margin-bottom: 0rem; }
.dataTables_wrapper .dataTables_filter { margin-bottom: 0.20rem; }

/*Buttom*/
.dataTables_wrapper .dataTables_info { padding: 0.5rem; }
.dataTables_wrapper .dataTables_paginate { padding: 0.25em; }
.dataTables_wrapper .dataTables_paginate, .dataTables_wrapper .dataTables_info { margin-top: 0.20rem; }
.dataTables_wrapper .dataTables_paginate .paginate_button { min-width: 1.5em; padding: 0.2em 0.6em; margin-left: 2px; }


.table td { vertical-align: middle; }

.table td, .table th { border: 1px dashed #dee2e6 !important; }

table.dataTable thead th, table.dataTable thead td { 
   padding: 0px 18px; 
   background-color: #17c0eb;
}
.table tbody{ background-color: #00cec9; }

/*Model Form*/
.close span{ background-color: red; color: #fff; order: 1px solid blue; padding: 0px 10px 5px; }
.close span:hover{ background-color: #fff; color: #000; }

.codeTypeName{
   text-align: center;
   font-weight: bold; 
   margin-bottom: -1.7rem !important; 
   z-index: 1;
   position: relative; 
   text-transform: uppercase;
}
                                                                                  